<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
        <form method ="delete" action ="/user/<%=user.id%>"?_method=DELETE>
        <input type ="username" name ="username" placeholder ="enter username" />
        <input type ="password" name ="password" placeholder ="enter password" />
        <button type ="submit">DELETE</button>
    </form>
</head>
<body>
    
</body>
</html>