<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
        <H2>YOU ARE IN DELETE PASSWORD</H2>
</head>
<body>
   <form method ="post" action ="/user/<%= user.id %>/deleteacc?_method=DELETE">
        <input type ="text" name ="username" placeholder ="enter username" />
        <input type ="password" name ="password" placeholder ="enter password" />
        <button type ="submit">DELETE</button>
    </form> 
</body>
</html>